@charset "UTF-8";

body{
    background-color: #2929e5;
}

h1{
    text-align: center;
}

section#esp-tab{
    background-color: #ffffff;
    width: 700px;
    height: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

button.btn-calcular{
    width: 100px;
    margin-left: 10px;
    padding: 0px;
}

#tab{
    padding: 10px;
    font-size: 1.3em;
}

